<!-- <div>
    <h2>Wallet Details </h2>
    <table>
        <tr>
        <th>Id</th>
        <th>Owner</th>
        <th>Balance</th>
        </tr>
        <tr *ngFor = "let wallet of wallets">
            <td>{{wallet.id}}</td>
            <td>{{wallet.owner}}</td>
            <td>{{wallet.balance}}</td>
        </tr>
        
    </table>
    <form>
        <label for = "id">Id:</label>
        <input type="number" [(ngModel)] = "wallet.id" name = "id" id = "id">
        <br><br>
        <label for = "name">Name:</label>
        <input type="text" [(ngModel)] = "wallet.name" name = "name" id = "name">
        <br><br>
        <label for = "balance">Balance:</label>
        <input type="number" [(ngModel)] = "wallet.balance" name = "balance" id = "balance">
        <br><br>
        <input type = "button" (click) = "displayUserForm()" value = "submit">
    </form>
</div>
 -->

<h1> Angular Pipes </h1>
<h2> Built in pipes : Date Pipe</h2>
<h3> Date : {{date | date}}</h3>
<h3> Date : {{date | date : 'dd-MM-yyyy'}}</h3>