<h1 class = "heading"> ONLINE WALLET </h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-blue justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item active" ><a class="nav-link" routerLink="/">Home</a></li>

      <li class="nav-item active"><a class="nav-link" routerLink="/login">Login</a></li>

      <li class="nav-item active"><a class="nav-link" routerLink="/registration">Registration</a></li>

      <!-- <li class="nav-item active"><a class="nav-link" routerLink="/demo">Demo</a></li> -->
      
      <li class="nav-item active"><a class="nav-link" routerLink="/wallet" >All Wallets</a></li>

      <!-- <li class="nav-item active"><a class="nav-link" routerLink="show">Show All Wallets</a></li> -->


    </ul>
  </nav>

  <router-outlet></router-outlet>

