<br>
<h2> New Wallet Registration </h2>
<br>
<div>
    <form class = "box" >
    
        <!-- <br><br>
        <label for = "id">Id : </label><br>
        <input type="number" [(ngModel)]="wallet.id" #idRef="ngModel" name="wname" id="wid" min = 0
        title="Enter positive id only" required>
        <div *ngIf="idRef.invalid && (idRef.touched || idRef.dirty)">
            <p *ngIf="idRef.errors?.['required']" class="text-danger">Id is required, cant be balnk.</p>
            <p *ngIf="idRef.errors?.['min']" class="text-danger">Id nust be a positive number</p>
        </div> -->
        <label for = "name">Name : </label> <br>
        <input type="text" [(ngModel)] = "wallet.name" #nameRef = "ngModel" name = "wname" id = "wid" pattern="[a-zA-Z]{3,}" required>
        <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
            <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, cant be blank.</p>
            <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Name must be atleast 3 charaters</p>
        </div>
        
        <label for = "password">Balance : </label> <br>
        <input type="number" [(ngModel)] = "wallet.balance" #balanceRef = "ngModel" name = "wbalance" id = "wbalance" min = 0 required>
        <div *ngIf="balanceRef.invalid && (balanceRef.touched || balanceRef.dirty)">
            <p *ngIf="balanceRef.errors?.['required']" class="text-danger">Balance is required, cant be blank.</p>
            <p *ngIf="balanceRef.errors?.['min']" class="text-danger">Balance must be atleast 8 charaters</p>
        </div>
       
        <label for = "password">Password : </label> <br>
        <input type="password" [(ngModel)] = "wallet.password" #passwordRef = "ngModel" name = "wpassword" id = "wpassword" pattern="[a-zA-Z0-9]{6,}" required>
        <div *ngIf="passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)">
            <p *ngIf="passwordRef.errors?.['required']" class="text-danger">Password is required, cant be blank.</p>
            <p *ngIf="passwordRef.errors?.['pattern']" class="text-danger">Password must be atleast 3 charaters</p>
        </div>

        <br><br>
        <!-- <label for = "date">Date Of Creation :</label> <br>
        <input type="date" [(ngModel)]= "wallet.doc"> -->
        <input type = "button" (click) = "submitForm()" value = "submit">
    </form>
</div>
<div *ngIf= "msg" class="alert alert-success" >
    <p class="">{{msg}}</p>
</div>
<div *ngIf= "errormsg" class="alert alert-danger">
    <p>{{errormsg}}</p> 
</div>