table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#displayWallets {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #displayWallets td, #displayWallets th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #displayWallets tr:nth-child(even){background-color: #f2f2f2;}
  
  #displayWallets tr:hover {background-color: #ddd;}
  
  #displayWallets th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0483aa;
    color: white;
    

  }
  body {
    
  
  }
  .prof_table {
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5em;
  }
  
  .prof_table td {
    vertical-align: top;
  }
  