<br><br>
<div>
    <form class = "box" >
    
        <label for = "fromId">Sender's Id : </label><br>
        <input type="number" [(ngModel)]= "fromId" #idRef="ngModel" name="wname" id="wid" min = 0
        title="Enter positive id only" required>
        <div *ngIf="idRef.invalid && (idRef.touched || idRef.dirty)">
            <p *ngIf="idRef.errors?.['required']" class="text-danger">Id is required, cant be blank.</p>
            <p *ngIf="idRef.errors?.['min']" class="text-danger">Id nust be a positive number</p>
        </div>
        <br>
        <label for = "id">Recipent's Id : </label><br>
        <input type="number" [(ngModel)]= "toId" #idRef="ngModel" name="wname" id="wid" min = 0
        title="Enter positive id only" required>
        <div *ngIf="idRef.invalid && (idRef.touched || idRef.dirty)">
            <p *ngIf="idRef.errors?.['required']" class="text-danger">Id is required, cant be blank.</p>
            <p *ngIf="idRef.errors?.['min']" class="text-danger">Id nust be a positive number</p>
        </div>
        <br>
        <label for = "password">Tranfer Amount :</label> <br>
        <input type="number" [(ngModel)] = "balance" #balanceRef = "ngModel" name = "wbalance" id = "wbalance" min = 0 required>
        <div *ngIf="balanceRef.invalid && (balanceRef.touched || balanceRef.dirty)">
            <p *ngIf="balanceRef.errors?.['required']" class="text-danger">Balance is required, cant be blank.</p>
            <p *ngIf="balanceRef.errors?.['min']" class="text-danger">Balance must be atleast 8 charaters</p>
        </div>
        <br><br>
        <input type = "button" (click) = "tranferFunds(fromId,toId,balance)" value = "submit">
    </form>
</div>
<div *ngIf="msg" class="alert alert-success" >
    <p class="">{{msg}}</p>
</div>
<div *ngIf="errormsg" class="alert alert-danger">
    <p>{{errormsg}}</p> 
</div>
